{% extends "base.html" %}
<!DOCTYPE html>
<HTML>
<HEAD>
{% block content %}
<meta charset="utf-8">
<title> {% block title %} Contact Information {% endblock title %}</title>
<meta name="description" content="">                                                                                                                
<meta name="author" content="">
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">                                                
</HEAD>
<BODY BGCOLOR="FFFFFF">
<HR>
<h1>Email</h1>

My email address is  <a href="mailto:sangyoung123@googlemail.com"> sangyoung123@googlemail.com</a>. Please send me a message
for any enquires or information. If you don't mind, please add a title or sort with something of the sort of 'Website Enquiry'
for me to identify the type of query as soon as I can. Thank you.

</BODY>
{% endblock %}
</HTML> 
